/*background*/

body {
    background-image: url('../images/htmlbgfinal.png');
    background-repeat: no-repeat; 
    background-size: cover; 
    background-attachment: fixed; 
}
/* comic and buttons */
body {
    justify-content: center;
    align-items: center; 
}
body {
    display: flex;
    flex-direction: column; 
}

.comic-container {
    padding: 0px;
    position: relative; 
    margin-top: 100px; 
    margin-bottom: 20px;
}


/* Style the image container */
.image-container {
    text-align: center; /* Center the buttons horizontally */
    padding: 20px; /* You can adjust the padding as needed */
    margin-top: 10px;
}

/* Style the image buttons */
.image-button {
    position: relative; /* Set the position to relative */
    display: inline-block; /* Display buttons in a row */
    text-align: center;
    margin: 0 10px; /* Add some spacing between buttons */
    margin-top: 200px;
    margin-bottom: 200px;
}

.image-button img {
    width: 100px;
    height: auto;
    display: block; /* Removes any extra space below the image */
    
}

.image-button .button-text {
    position: absolute; /* Set the position to absolute */
    top: 50%; /* Position the text at the vertical center of the button */
    left: 0;
    right: 0;
    transform: translateY(-50%); /* Center the text vertically */
    background-color: rgba(0, 0, 0, 0); /* Add a background color to make the text more readable */
    color: #fff; /* Set text color to white */
    font-size: 16px; /* Adjust the font size as needed */
}



