/*background*/

body {
    background-image: url('/images/htmlbgfinal.png');
    background-repeat: no-repeat; 
    background-size: cover; 
    background-attachment: fixed; 
}
/* comic and buttons */
body {
    justify-content: center;
    align-items: center; 
}
body {
    display: flex;
    flex-direction: column; 
}

.comic-container {
    padding: 0px;
    position: relative; 
    margin-top: 100px; 
    margin-bottom: 20px;
}
.button-container {
    background-image: url('https://i.ibb.co/M1CHZYg/button-container-art.png');
    background-size: contain;
    background-position: center;
    text-align: center;
    padding: 150px;
    width: 400px;
    height: 30px;
    transform: translate(40px);
    display: flex; /* Make the container a flex container */
    justify-content: center; /* Horizontally center the buttons */
    align-items: center; /* Vertically center the buttons */
}

.button-container a {
    display: inline-block;
    margin: 10px;
    text-decoration: none;
    padding: 10px 20px;
    background-image: url('https://i.ibb.co/q5DybDz/buttonbluebig.png');
    background-size: contain;
    color: #000000;
    border-radius: 0px;
    width: 40px; /* Adjust the width of the buttons */
    height: 4px;
    transform: translate(-60%, -150%);
    font-size: 7px;
    font-family: 'dogica';
    font-weight: bolder;
    text-align: center; /* Center text horizontally */
}
.button-container a:hover {
    background-image: url(/images/buttonred.png);
    width: 40px;
    
    
    }
    
    
    
    
    
    
    @font-face {
        font-family: 'dogica';
        src: url('../font/dogica-webfont.woff') format('woff'),;
        /* Add more formats if you have them */
        font-weight: normal; /* or specify the weight of the font */
        font-style: normal;  /* or specify the style of the font */
      }
      
      #website-title {
    margin-bottom: 100px;
        
      }
      #coming-soon{
        transform: translate(-60%,);
        margin-top: 100px;
      }
